@page "/teammanager"
@using Data.TeamMember.Model;
@inject HttpClient Http

<h1>Team Manager</h1>

@if (teamMembers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teamMember in teamMembers)
            {
                <tr>
                    <td>@teamMember.FirstName</td>
                    <td>@teamMember.LastName</td>
                    <td>@teamMember.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TeamMember[] teamMembers = new TeamMember[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            teamMembers = await Http.GetFromJsonAsync<TeamMember[]>("/api/TeamMembers") ?? new TeamMember[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
