@page "/teammanager"
@using Data.TeamMember.Model;
@inject HttpClient Http

<PageTitle>Team Manager</PageTitle>

@if (teamMembers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid Items="@teamMembers" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <Columns>
            <PropertyColumn Property="x => x.FirstName" Title="First Name"/>
            <PropertyColumn Property="x => x.LastName" Title="Last Name"/>
            <PropertyColumn Property="x => x.EmailAddress" Title="Email" />
        </Columns>
    </MudDataGrid>
}

@code {
    private TeamMember[] teamMembers = new TeamMember[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            teamMembers = await Http.GetFromJsonAsync<TeamMember[]>("/api/TeamMembers") ?? new TeamMember[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
